/**
*
*
*
*/
// 抽象混合，箭头方向，箭头大小，箭头颜色是需要提取的，因此作为变量
/**
 * $dir 表示方向
 * $w   表示宽度
 * $c   表示颜色
 */
@mixin arrow($dir:top,$w:30px,$c:orange, $h: $w) {
	// 设置所有的边
	border:$w solid transparent;
	// 设置两侧的边，要判断方向是上下还是左右
	@if $dir==top or $dir==bottom {
		border-left-width: $h;
		border-right-width: $h;
	}
	@else {
		border-top-width: $h;
		border-bottom-width: $h;
	}
		// 设置特殊的边
	border-#{$dir}: $w solid $c; 
	// 兼容块元素
	width: 0;
	// 兼容行内元素
	font-size: 0;
}
div{
	@include arrow(left,50px,purple,100px);
}
span{
	@include arrow(bottom, 10px, green, 10px);
}


//命令行：  		Sass index.scss index.css