/**
*继承：@extend 父元素;
*  在子元素内引入(继承)父元素样式
*  p{@extend 父元素}
*/

div{
	width:200px;
}
.app{
	height:200px;
	background:#666;
}
#demo{
	border:2px solid green;
}
//可以使用元素名称，类，ID，自定义元素等
p{
	@extend div;
	@extend .app;
	@extend #demo;
	color:orange;
}